// https://coolors.co/ef6f6c-465775-56e39f-59c9a5-5b6c5d

$primary: #465775
$link: #59c9a4
$info: #d89a9e
$danger: #ef6f6c
$body-family: Lato, sans-serif
$family-monospace: 'SF Mono', Consolas, 'Liberation Mono', Menlo, Courier, monospace

@import ~bulma/sass/utilities/_all.sass